/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;
}

/*----- Tab Links -----*/
.tab-links {
    margin-top: 2px;
    margin-bottom: 0;
    width: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

    /* Clearfix */
    .tab-links:after {
        display: block;
        clear: both;
        content: '';
    }

    .tab-links li {
        margin: 0 2px 0;
        display: inline-block;
        list-style: none;
    }

    .tab-links a {
        padding: 5px 10px;
        display: inline-block;
        -ms-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
        background: #D5D5E5;
        font-size: 16px;
        font-weight: 600;
        color: #4c4c4c;
        -moz-transition: all linear 0.15s;
        -o-transition: all linear 0.15s;
        -webkit-transition: all linear 0.15s;
        -ms-transition: all linear 0.15s;
        transition: all linear 0.15s;
    }


        .tab-links a:hover {
            background: #a7cce5;
            text-decoration: none;
        }

        .dialog-table {
            border-style: none;
            overflow-y: auto;
            width: 100%;
        }

.table-data a {
    background: #E5D5D5;
}

    .table-data a:hover {
        background: #e5a7cc;
        text-decoration: none;
    }

.configInfo-tab a {
    background: #D5E5D5;
}

    .configInfo-tab a:hover {
        background: #a7e5cc;
        text-decoration: none;
    }

.info-tab a {
    background: #D5E5D5;
}

    .info-tab a:hover {
        background: #a7e5cc;
        text-decoration: none;
    }

.file-tab a {
    background: #E5d5e5;
}

    .file-tab a:hover {
        background: #e5e5e5;
        text-decoration: none;
    }

li.active a, li.active a:hover {
    background: #fff;
    color: #4c4c4c;
    border: 1px groove #777;
}


/* Basic settings */
.ui-li-static.ui-collapsible {
    padding: 0;
}

    .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview,
    .ui-li-static.ui-collapsible > .ui-collapsible-heading {
        margin: 0;
    }

    .ui-li-static.ui-collapsible > .ui-collapsible-content {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        border-bottom-width: 0;
    }
        /* collapse vertical borders */
        .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-last-child,
        .ui-li-static.ui-collapsible.ui-collapsible-collapsed > .ui-collapsible-heading > a.ui-btn {
            border-bottom-width: 0;
        }

        .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child,
        .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child > a.ui-btn,
        .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn {
            border-top-width: 0;
        }
        /* Remove right borders */
        .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
        .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > .ui-li-static,
        .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li > a.ui-btn,
        .ui-li-static.ui-collapsible > .ui-collapsible-content {
            border-right-width: 0;
        }
    /* Remove left borders */
    /* Here, we need class ui-listview-outer to identify the outermost listview */
    .ui-listview-outer > .ui-li-static.ui-collapsible .ui-li-static.ui-collapsible.ui-collapsible,
    .ui-listview-outer > .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
    .ui-li-static.ui-collapsible > .ui-collapsible-content {
        border-left-width: 0;
    }


/*----- Content of Tabs -----*/
.tab-content {
    width: 98%;
    margin: 0;
    padding: 10px 15px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px groove #777;
    -webkit-box-shadow: -2px 2px 2px #000000;
    -ms-box-shadow: -2px 2px 2px #000000;
    box-shadow: -2px 2px 2px #000000;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.15);
    background: #fff;
}

.tab {
    width: 100%;
    display: none;
}

    .tab.active {
        display: block;
    }

table {
    width: 100%;
}

textarea {
    width: 100%;
    height: 300px;
}

tr {
    width: 100%;
}

/*
td {
    max-width: 150px;
}*/

p {
    margin: 6px 40px 6px 6px;
    width: 100%;
}

.jqx-widget {
    width: 100%;
}

.value {
    color: #000;
}

.editedValue {
    background: #E7F29B;
    border-style: solid;
    border-bottom: 0 hidden;
    border-top: 3px solid #E7F29B;
    border-left: 2px solid #e7f29b;
    border-right: 2px solid #e7f29b;
}

.miniButton {
    display: inline-block;
    width: auto;
    padding: 2px;
    margin: 2px 2px 2px 2px;
}